<div class="content-app">
    <div class="container card-analys">
        <div class="row">
            <div class="offset-lg-2 col-lg-8 offset-md-1 col-md-10">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="input-group col-12">
                                <div class="overBtn col-11">
                                    <input [(ngModel)]="email" id="email" type="mail" class="form-control"
                                        placeholder="e-mail" aria-label="e-mail" aria-describedby="basic-addon1">
                                </div>
                                <button class="btn btn-primary input-group-text col-1 col-md-1 col-lg-1"
                                    (click)="btnAction(email)">
                                    <i class="fa fa-refresh"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <!-- Génère une carte bootstrap -->

                        <!-- ngFor Leaks -->
                        <!-- <div class="row">
                            <div *ngFor="let leak of leakReturn.infoDetail" class="col-6">
                                <div class="card text-white bg-primary mb-3" style="max-width: 30rem;">
                                    <div class="card-header">{{leak.plateforme}}</div>
                                    <div class="card-body">
                                        <p><b>Fuite ajoutée le :</b></p>
                                        <p>{{leak.date}}</p>
                                        <p><b>Données compromises : </b></p>
                                        <p>{{leak.dataCompromises}}</p>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="row">
                            <div class="col-12">
                                <div class="card card-info">
                                    <div class="card-body">
                                        <h2 class="text-center">{{leakReturn.infoText}}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div *ngFor="let leak of leakReturn.infoDetail" class="col-12">
                                <div class="card card-leak">
                                    <div class="card-body">
                                        <div class="leak-div">
                                            <img class="leak-logo" src={{leak.logo}} />
                                        </div>
                                        <div>
                                            <p><b>{{leak.plateforme}}</b></p>
                                            <p><b>Fuite ajoutée le : </b> <span>{{leak.date}}</span></p>
                                            <p><b>Données compromises : </b><span>{{leak.dataCompromises}}</span></p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ngx-spinner type="ball-scale-multiple"></ngx-spinner>
</div>