@import "~assets/color";

.card-analys {
    background-color: $white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    padding-top: 35px;
    padding-bottom: 35px;
}

.checkPointTrue {
    color: $green;
}

.checkPointFalse {
    color: $red;
}