<div class="content-app">
    <div class="container card-analys">
        <div class="row">
            <div class="offset-lg-2 col-lg-8 offset-md-1 col-md-10">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <!-- <div class="input-group mb-3">
                                <input  type="password" class="form-control"
                                    placeholder="Mot De Passe" aria-label="Username" aria-describedby="basic-addon1">
                            </div> -->
                            <div class="input-group col-12">
                                <div class="overBtn col-11">
                                    <!-- Le mot de passe s'affiche ici -->
                                    <input [(ngModel)]="password"
                                           id="password"
                                           type="password"
                                           class="form-control"
                                           placeholder="Mot De Passe" aria-label="Username"
                                           (keyup)="slowTipping(password)"
                                           aria-describedby="basic-addon1">

                                    <!-- Tric CSS -> notice: Le button passe par dessus l'input désactiver -->
                                    <!-- Tric CSS -> Utilité ?: Permet d'avoir une action de (click) sur le bouton avec un input désactiver -->
                                </div>
                                <!-- Button de refresh de mot de passe -->
                                <button class="btn btn-primary input-group-text col-1 col-md-1 col-lg-1"
                                    (click)="passwordVerify(password)">
                                    <i class="fa fa-refresh"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row info-analys">
                        <div [ngClass]="{'d-none': analysStatus === false}">

                            <div class="container-skill">

                                <div class="skills"
                                    [ngStyle]="{'background-color': passwordEntropy.backgroundColor ,'width': passwordEntropy.strengthPercent  }">
                                    <span>{{ passwordEntropy.strength }}</span></div>
                            </div>

                            <!-- Message de validation du mot de passe -->
                            <div class="p-1">
                              <div class="col-12">
                                <span class="checkPoint" [ngClass]="{checkPointTrue: checkPoint.minCharacters.result === true,
                                    checkPointFalse: checkPoint.minCharacters.result === false}">
                                    <fa-icon *ngIf="checkPoint.minCharacters.result === true" [icon]="faCheck"
                                             [styles]="{'stroke': 'green', 'color': 'green'}"></fa-icon>
                                    <fa-icon *ngIf="checkPoint.minCharacters.result === false" [icon]="faXmark"
                                             [styles]="{'stroke': 'red', 'color': 'red'}"></fa-icon>
                                  {{ checkPoint.minCharacters.text }}
                                </span>
                              </div>
                              <div class="col-12">
                                <span class="checkPoint" [ngClass]="{checkPointTrue: checkPoint.minUppercase.result === true,
                                    checkPointFalse: checkPoint.minUppercase.result === false}">
                                    <fa-icon *ngIf="checkPoint.minUppercase.result === true" [icon]="faCheck"
                                             [styles]="{'stroke': 'green', 'color': 'green'}"></fa-icon>
                                    <fa-icon *ngIf="checkPoint.minUppercase.result === false" [icon]="faXmark"
                                             [styles]="{'stroke': 'red', 'color': 'red'}"></fa-icon>
                                  {{ checkPoint.minUppercase.text }}
                                </span>
                              </div>
                              <div class="col-12">
                                <span class="checkPoint" [ngClass]="{checkPointTrue: checkPoint.minSpecialCharacter.result === true,
                                    checkPointFalse: checkPoint.minSpecialCharacter.result === false}">
                                    <fa-icon *ngIf="checkPoint.minSpecialCharacter.result === true" [icon]="faCheck"
                                             [styles]="{'stroke': 'green', 'color': 'green'}"></fa-icon>
                                    <fa-icon *ngIf="checkPoint.minSpecialCharacter.result === false" [icon]="faXmark"
                                             [styles]="{'stroke': 'red', 'color': 'red'}"></fa-icon>
                                  {{ checkPoint.minSpecialCharacter.text }}
                                </span>
                              </div>
                              <div class="col-12">
                                <span class="checkPoint" [ngClass]="{checkPointTrue: checkPoint.isNameInPassword.result === false,
                                    checkPointFalse: checkPoint.isNameInPassword.result === true}">
                                    <fa-icon *ngIf="checkPoint.isNameInPassword.result === false" [icon]="faCheck"
                                             [styles]="{'stroke': 'green', 'color': 'green'}"></fa-icon>
                                    <fa-icon *ngIf="checkPoint.isNameInPassword.result === true" [icon]="faXmark"
                                             [styles]="{'stroke': 'red', 'color': 'red'}"></fa-icon>
                                  {{ checkPoint.isNameInPassword.text }}
                                </span>
                              </div>
                              <div class="col-12">
                                <span class="checkPoint" [ngClass]="{checkPointTrue: checkPoint.isPaysInPassword.result === false,
                                    checkPointFalse: checkPoint.isPaysInPassword.result === true}">
                                    <fa-icon *ngIf="checkPoint.isPaysInPassword.result === false" [icon]="faCheck"
                                             [styles]="{'stroke': 'green', 'color': 'green'}"></fa-icon>
                                    <fa-icon *ngIf="checkPoint.isPaysInPassword.result === true" [icon]="faXmark"
                                             [styles]="{'stroke': 'red', 'color': 'red'}"></fa-icon>
                                  {{ checkPoint.isPaysInPassword.text }}
                                </span>
                              </div>
                              <div class="col-12">
                                <span class="checkPoint" [ngClass]="{checkPointTrue: checkPoint.isCityInPassword.result === false,
                                    checkPointFalse: checkPoint.isCityInPassword.result === true}">
                                    <fa-icon *ngIf="checkPoint.isCityInPassword.result === false" [icon]="faCheck"
                                             [styles]="{'stroke': 'green', 'color': 'green'}"></fa-icon>
                                    <fa-icon *ngIf="checkPoint.isCityInPassword.result === true" [icon]="faXmark"
                                             [styles]="{'stroke': 'red', 'color': 'red'}"></fa-icon>
                                  {{ checkPoint.isCityInPassword.text }}
                                </span>
                              </div>
                              <div class="col-12">
                                <span class="checkPoint" [ngClass]="{checkPointTrue: checkPoint.isDateInPassword.result === false,
                                    checkPointFalse: checkPoint.isDateInPassword.result === true}">
                                    <fa-icon *ngIf="checkPoint.isDateInPassword.result === false" [icon]="faCheck"
                                             [styles]="{'stroke': 'green', 'color': 'green'}"></fa-icon>
                                    <fa-icon *ngIf="checkPoint.isDateInPassword.result === true" [icon]="faXmark"
                                             [styles]="{'stroke': 'red', 'color': 'red'}"></fa-icon>
                                  {{ checkPoint.isDateInPassword.text }}
                                </span>
                              </div>
                              <div class="col-12">
                                <span class="checkPoint" [ngClass]="{checkPointTrue: checkPoint.finalResult.result === true,
                                    checkPointFalse: checkPoint.finalResult.result === false}">
                                    <fa-icon *ngIf="checkPoint.finalResult.result === true" [icon]="faCheck"
                                             [styles]="{'stroke': 'green', 'color': 'green'}"></fa-icon>
                                    <fa-icon *ngIf="checkPoint.finalResult.result === false" [icon]="faXmark"
                                             [styles]="{'stroke': 'red', 'color': 'red'}"></fa-icon>
                                  {{ checkPoint.finalResult.text }}
                                </span>
                              </div>
                              <div class="col-12">
                                <span class="checkPoint" [ngClass]="{checkPointTrue: checkPoint.minSpecialCharacter.result === true,
                                    checkPointFalse: checkPoint.minSpecialCharacter.result === false}">
                                    <fa-icon *ngIf="checkPoint.minSpecialCharacter.result === true" [icon]="faCheck"
                                             [styles]="{'stroke': 'green', 'color': 'green'}"></fa-icon>
                                    <fa-icon *ngIf="checkPoint.minSpecialCharacter.result === false" [icon]="faXmark"
                                             [styles]="{'stroke': 'red', 'color': 'red'}"></fa-icon>
                                  {{ crackAnalysTime }}
                                </span>
                              </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
