<div class="content-app">
    <h1 class="title">
        {{ 'PAGES.ANALYS.TITLE' | translate }}
    </h1>
    <div class="container card-analys">
        <div class="row">
            <div class="col-8 offset-2">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="input-group mb-3">
                                <input (keyup)="passwordVerify($event)" type="password" class="form-control"
                                    placeholder="Mot De Passe" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                    <div class="row" [ngClass]="{'d-none': analysStatus == false}">
                        <div class="col-12">
                            <span class="checkPoint" [ngClass]="{checkPointTrue: checkPoint.minCharacters.result == true,
                                    checkPointFalse: checkPoint.minCharacters.result == false}">
                                <fa-icon *ngIf="checkPoint.minCharacters.result == true" [icon]="faCheck"
                                    [styles]="{'stroke': 'green', 'color': 'green'}"></fa-icon>
                                <fa-icon *ngIf="checkPoint.minCharacters.result == false" [icon]="faXmark"
                                    [styles]="{'stroke': 'red', 'color': 'red'}"></fa-icon>
                                {{ checkPoint.minCharacters.text }}
                            </span>
                        </div>
                        <div class="col-12">
                            <span class="checkPoint" [ngClass]="{checkPointTrue: checkPoint.minUppercase.result == true,
                                    checkPointFalse: checkPoint.minUppercase.result == false}">
                                <fa-icon *ngIf="checkPoint.minUppercase.result == true" [icon]="faCheck"
                                    [styles]="{'stroke': 'green', 'color': 'green'}"></fa-icon>
                                <fa-icon *ngIf="checkPoint.minUppercase.result == false" [icon]="faXmark"
                                    [styles]="{'stroke': 'red', 'color': 'red'}"></fa-icon>
                                {{ checkPoint.minUppercase.text }}
                            </span>
                        </div>
                        <div class="col-12">

                            <span class="checkPoint" [ngClass]="{checkPointTrue: checkPoint.minSpecialCharacter.result == true,
                                    checkPointFalse: checkPoint.minSpecialCharacter.result == false}">
                                <fa-icon *ngIf="checkPoint.minSpecialCharacter.result == true" [icon]="faCheck"
                                    [styles]="{'stroke': 'green', 'color': 'green'}"></fa-icon>
                                <fa-icon *ngIf="checkPoint.minSpecialCharacter.result == false" [icon]="faXmark"
                                    [styles]="{'stroke': 'red', 'color': 'red'}"></fa-icon>
                                {{ checkPoint.minSpecialCharacter.text }}
                            </span>
                        </div>
                        <div class="col-12">
                            <span class="checkPoint" [ngClass]="{checkPointTrue: checkPoint.minSpecialCharacter.result == true,
                                    checkPointFalse: checkPoint.minSpecialCharacter.result == false}">
                                <fa-icon *ngIf="checkPoint.minSpecialCharacter.result == true" [icon]="faCheck"
                                    [styles]="{'stroke': 'green', 'color': 'green'}"></fa-icon>
                                <fa-icon *ngIf="checkPoint.minSpecialCharacter.result == false" [icon]="faXmark"
                                    [styles]="{'stroke': 'red', 'color': 'red'}"></fa-icon>
                                {{ passwordEntropy.strength }}
                            </span>
                        </div>
                        <div class="col-12">
                            <span class="checkPoint" [ngClass]="{checkPointTrue: checkPoint.minSpecialCharacter.result == true,
                                    checkPointFalse: checkPoint.minSpecialCharacter.result == false}">
                                <fa-icon *ngIf="checkPoint.minSpecialCharacter.result == true" [icon]="faCheck"
                                    [styles]="{'stroke': 'green', 'color': 'green'}"></fa-icon>
                                <fa-icon *ngIf="checkPoint.minSpecialCharacter.result == false" [icon]="faXmark"
                                    [styles]="{'stroke': 'red', 'color': 'red'}"></fa-icon>
                                {{ passwordEntropy.entropy }}
                            </span>
                        </div>
                        <div class="col-12">
                            <span class="checkPoint" [ngClass]="{checkPointTrue: checkPoint.minSpecialCharacter.result == true,
                                    checkPointFalse: checkPoint.minSpecialCharacter.result == false}">
                                <fa-icon *ngIf="checkPoint.minSpecialCharacter.result == true" [icon]="faCheck"
                                    [styles]="{'stroke': 'green', 'color': 'green'}"></fa-icon>
                                <fa-icon *ngIf="checkPoint.minSpecialCharacter.result == false" [icon]="faXmark"
                                    [styles]="{'stroke': 'red', 'color': 'red'}"></fa-icon>
                                {{ crackAnalysTime }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>