@import "../../../assets/color.scss";

.card-analys {
    border-radius: 10px;
}

.checkPointTrue {
    color: $secondary;
}

.checkPointFalse {
    color: $red;
}

.info-analys{
  margin-top: 1em;
  min-height: 18em;
}


/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container-skill{
  width: 100%; /* Full width */
  border-radius: 10px;
}

.contentAnalys{
  min-height: 80vh;
  display: flex;

  .card-analys{
    margin: auto;
  }
}

.skillsContainer{
  background-color: lightgrey;
  margin-bottom: 1em;

  .skills {
    border-radius: 10px;
    text-align: left; /* Right-align text */
    padding-top: 2px; /* Add top padding */
    padding-bottom: 2px; /* Add bottom padding */
    color: white; /* White text color */

    span {
      padding: .5em;
    }
  }
}

.infoMessages{
  background-color: #3f4b5675;
  border-radius: 0.4em;

  fa-icon{
    margin-right: 1em;
    margin-left: 1em;
  }
}
