@import "../../../assets/color.scss";

.card-analys {
    border-radius: 10px;
}

.checkPointTrue {
    color: $secondary;
}

.checkPointFalse {
    color: $red;
}

.info-analys{
    margin-top: 1em;
  min-height: 18em;
}

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container-skill{
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
  border-radius: 10px;
}

.skills {
  border-radius: 10px;
  text-align: left; /* Right-align text */
  padding-top: 2px; /* Add top padding */
  padding-bottom: 2px; /* Add bottom padding */
  color: white; /* White text color */

  span {
    padding: .5em;
  }
}
