@import "../../../assets/color.scss";

:host {
  color: $white;

  .contenteGenerate{
    display: flex;
    min-height: 80vh;
    form{
      margin: auto;
    }
  }

  label {
    margin-left: .5em;
  }

  .overBtn{
    display: inline-block;
    position: relative;

    //input {
    //  width: 50vh;
    //}

    button {
      background-color: transparent;
      color: transparent;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      border: 0;
      line-height: 1.5;
      padding: .375rem .75rem;

      &:hover{
        border: 1px solid red;
      }
    }
  }

}
